@import '../variables';

.classScheduleContainer {
  display: flex;
  align-items: center;


  border-radius: 1.3rem;

  span, p {
    font-size: 1.738rem;
    color: $clr-text-primary;
  }

  p {
    margin-left: 1.1rem;

    font-size: 1.6rem;
  }
}

.classScheduleStart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  padding: .4rem 1rem;

  border-radius: 1.3rem;
  
  background-color: #191918;
  
  span {
    font-size: 1.4rem;

    color: #eee;
  }
  
}