@import '../variables';

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    margin-right: 1rem;

    h1 {
      font-size: 4rem;
  
      color: $clr-text-primary;
    }
  
    p {
      font-size: 1.6rem;
      color: $clr-text-secundary;
    }
  }


  a {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    width: 5rem;
    height: 5rem;

    border-radius: 1.3rem;

    line-height: 0;

    background-color: rgba($gray, .21);

    &:hover {
      filter: brightness(.8);
    }
  }
}