@import '../variables';

.container {
  h3 {
    margin-bottom: 1.3rem;

    font-size: 2.4rem;
  
    color: $clr-text-primary;
  }

  > p {
    margin-top: 1.4rem;

    font-size: 1.5rem;
    text-align: center;
  }

  > div {
    margin-bottom: 1.4rem;
  }
}

.seeAllHoraries {
  display: flex;
  width: fit-content;
  margin: 0 auto;

  margin-top: 2rem;
  padding: 2.5rem 5rem;

  border-radius: 1.2rem;

  font-size: 1.4rem;

  color: $clr-text-secundary;
  background-color: rgba($color: $gray, $alpha: .21);

  transition: filter .1s;

  &:hover {
    filter: brightness(.7);
  }
}